<div class="container" style="padding-top: 120px;">
    <h3>Acerca de nosotros</h3>
    <p>
        Bienvenido a la comunidad universitaria unionista. Somos parte de la red mundial educativa adventista que cuenta con 117 universidades.

        El origen de nuestra institución data de 1919, una época donde los cañones de la primera Guerra Mundial aún estaban humeantes. Desde el inicio experimentamos lo que significa crecer y desarrollarse en un contexto de adversidades.
        
        Ha pasado más de un siglo y ya no hay cañones humeantes. Hoy otras guerras nos rodean; conflictos que son de otra naturaleza y que se localizan en el campo educativo. En medio de esa lid, los valores cristianos están colisionando con los antivalores que degradan la sociedad. Esta es una guerra silenciosa, menos notoria y, por lo mismo, muy peligrosa.
        
        La educación adventista propone una educación integral que fortalezca todas las dimensiones del ser humano para formar líderes con principios. Por otro lado, se encuentran las diversas propuestas educativas contemporáneas cuya máxima aspiración consiste principalmente en formar profesionales. La Universidad Peruana Unión, por ende, va mucho más allá.
        
        Al finalizar tu carrera saldrás con un título bajo el brazo que testificará de tu excelencia académica. Pero, será mucho más que eso; porque no solo te preparamos para “la vida actual sino para un mundo venidero”. Tu formación está basada en principios cristianos.
        
        Nuestra universidad posee un marcado énfasis internacional, con una amplia gama de programas de intercambio y movilidad. Asimismo, goza de una rica vida académica, espiritual, cultural y deportiva, acompañada de los mejores servicios. Además, somos una universidad socialmente responsable que se esfuerza por garantizar un campus ambientalmente sostenible.
        
        Te pido que aproveches cada oportunidad para incrementar tu intelecto, desarrollarte socialmente, fortalecer tu estado físico y cultivar un espíritu superior.
        Comprométete con aquel que te ha dado dones y talentos para triunfar en una de las 20 carreras profesionales que ofrecemos.
        
        ¡Desde ahora eres un unionista! Asúmelo con dignidad. Nuestra universidad es la mejor alternativa para alcanzar tus metas profesionales.
    </p>
</div>
